doctype html
html(lang="en")
	head
		title= title
		script(src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous" defer)
		script(src="https://cdn.tailwindcss.com")
	body(class="bg-[#cbdeb1]")
		include ./includes/navbar
		+navbar(user)
		div(class="container sm:flex justify-around m-auto")
			div(class="")
				form(class=" max-h-screen min-h-screen overflow-scroll grid m-auto min-w-xs p-20 shadow-2xl rounded-lg max-w-md" id="login-form" hx-target="#login-form")
					h1(class="text-center text-3xl") Your Profile
					input(type="text" name="patient_id" placeholder="Id" value=user.info.patient_id class="border-2 hidden border-gray-300 rounded-md p-2 m-2")
					label(for="name") Name
					input(type="text" name="name" placeholder="Name" value=user.info.patient_name class="border-2 border-gray-300 rounded-md p-2 m-2")
					label(for="email") Email
					input(type="email" name="email" placeholder="Email" value=user.info.email class="border-2 border-gray-300 rounded-md p-2 m-2")
					input(type="text" name="phone" placeholder="Phone" value=user.info.phone class="border-2 border-gray-300 rounded-md p-2 m-2")
					input(type="text" name="alt_phone" placeholder="Alternate Phone" value=user.info.alt_phone class="border-2 border-gray-300 rounded-md p-2 m-2")
					input(type="number" name="age" placeholder="Age" value=user.info.age class="border-2 border-gray-300 rounded-md p-2 m-2")
					select(name="gender" class="border-2 border-gray-300 rounded-md p-2 m-2")
						option(value="MALE") Male
						option(value="FEMALE") Female
						option(value="OTHER") Other
					input(type="number" name="height" placeholder="Height" value=user.info.height class="border-2 border-gray-300 rounded-md p-2 m-2")
					input(type="number" name="weight" placeholder="Weight" value=user.info.weight class="border-2 border-gray-300 rounded-md p-2 m-2")
					div(class="g-recaptcha" name="captcha_response" data-sitekey="6LdXkegoAAAAAHJuSrGgWTjJ4sJJaMZ9eD_Roz8i")
					button(hx-post="/api/user/updateProfile" class="text-center bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded m-2") Save
					p(class="text-red-500 text-xs italic" id="error-message")
			div(class="sm:flex")
				div(class="grid m-auto min-w-xs max-h-screen overflow-scroll shadow-2xl rounded-lg max-w-md" id="login-form")
					h1(class="text-center text-3xl") Your Conditions
					div(class="m-auto")
						form(onSubmit=(e)=>e.preventDefault() hx-post="/api/action/addMedForm" hx-target="this" hx-trigger="submit" class="max-h-screen overflow-scroll grid m-auto min-w-xs p-20 shadow-2xl w-fit rounded-lg max-w-md")
							input(type="text" name="patient_id" placeholder="Id" value=user.info.patient_id class="border-2 hidden border-gray-300 rounded-md p-2 m-2")
							button(type="submit" class="text-center bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded m-2") Add Medication 
					div(class="flex")
					each medication in user.medications
						div(class="float-right w-fit bg-white rounded-lg shadow-md p-5 text-center")
							form()
								input(type="text" name="patient_id" placeholder="Id" value=user.info.patient_id class="border-2 hidden border-gray-300 rounded-md p-2 m-2")
								div()
									input(name="medicine_id" class="hidden" value=medication.condition.id)
									p(class="text-center text-2xl")= medication.condition.condition_name
								div()
									input(name="condition_id" class="hidden"  value=medication.medicine.id)
									p(class="text-center text-2xl")= medication.medicine.medicine_name
								button(hx-post="/api/action/removeMedication" hx-target="this" hx-swap="outerHTML" type="submit" class="text-center bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded m-2") Remove
								p(id="message" class="text-center text-3xl")
		//include medicine card

		//include footer
